.logo {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 23px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  box-sizing: content-box;
  background: url(../../../images/logo/logo_prem.png) no-repeat;
  color: #FFFFFF;
  z-index: 2;
  background-position: left center;
}