.header__hire {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  border-radius: 32px;
  height: 2px;
  width: 64px;
  border-radius: 32px;
}