.header__wraper1:after {
  content: "";
  position: absolute;
  right: -340px;
  width: 320px;
  height: 850px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  transform: skew(-25deg, 0);
  z-index: 2;
}