.header__wraper2 {
  content: "";
  position: absolute;
  right: -345px;
  width: 55px;
  height: 850px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  transform: skew(-25deg, 0);
}